<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070741331805-rmt0hnk3ieurnp3hnnlq0krr98ongupj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070741331805-rmt0hnk3ieurnp3hnnlq0krr98ongupj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070741331805-dlv2er04ppa5obsu7rc84o1hqlkv3rfi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKZY4Vq1c7dnz6eGeUlUG1xZqKnrFaE1s</string>
	<key>GCM_SENDER_ID</key>
	<string>1070741331805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.axross.aqua</string>
	<key>PROJECT_ID</key>
	<string>ax-aqua</string>
	<key>STORAGE_BUCKET</key>
	<string>ax-aqua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070741331805:ios:44fd52f657f127f9c052b4</string>
	<key>DATABASE_URL</key>
	<string>https://ax-aqua.firebaseio.com</string>
</dict>
</plist>